{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <p>Наш сайт предлагает бла-бла-бла.
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
                Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат

Без тебя неприятно встречать тут закат, я
Я слишком пьяный чтоб стоять на ногах, я
Забываю как я утопал в твоих руках, я
Я снова напился и тебе сам написал

И тебе сам написал
И тебе сам написал
И тебе сам написал
И тебе сам написал

Падающий снег попадает в глаза
Я пытался набрать тебе, но ты не взяла
Пьяный падаю на пол, я теряю страх
Без тебя неприятно встречать тут закат
            </p>

        </div>
    </div>
</div>

{% endblock %}